<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>MDO.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBarangays</servlet-name>
        <servlet-class>MDO.GetBarangays</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckFarmer</servlet-name>
        <servlet-class>MDO.CheckFarmer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitFarmer</servlet-name>
        <servlet-class>MDO.SubmitFarmer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authenticate</servlet-name>
        <servlet-class>Farmer.Authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCVS</servlet-name>
        <servlet-class>Farmer.UploadCVS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFertilizers</servlet-name>
        <servlet-class>Farmer.UpdateFertilizers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadTillers</servlet-name>
        <servlet-class>Farmer.UploadTillers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadMillingSurvey</servlet-name>
        <servlet-class>Farmer.UploadMillingSurvey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendProduction</servlet-name>
        <servlet-class>Farmer.SendProduction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRecommendationsByProblem</servlet-name>
        <servlet-class>Farmer.GetRecommendationsByProblem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRecommendations</servlet-name>
        <servlet-class>Farmer.AddRecommendations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetForumPosts</servlet-name>
        <servlet-class>Farmer.GetForumPosts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchForum</servlet-name>
        <servlet-class>Farmer.SearchForum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitPost</servlet-name>
        <servlet-class>Farmer.SubmitPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetComments</servlet-name>
        <servlet-class>Farmer.GetComments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitComment</servlet-name>
        <servlet-class>Farmer.SubmitComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitProblem</servlet-name>
        <servlet-class>Farmer.SubmitProblem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPostsByFarmer</servlet-name>
        <servlet-class>Farmer.GetPostsByFarmer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckForNotifs</servlet-name>
        <servlet-class>Farmer.CheckForNotifs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Disaster</servlet-name>
        <servlet-class>Entity.Disaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptIgnoreProblem</servlet-name>
        <servlet-class>Farmer.AcceptIgnoreProblem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDisasterSurvey</servlet-name>
        <servlet-class>Farmer.GetDisasterSurvey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitDisasterSurvey</servlet-name>
        <servlet-class>Farmer.SubmitDisasterSurvey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptRejectRecommendation</servlet-name>
        <servlet-class>Farmer.AcceptRejectRecommendation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFieldsByBarangay</servlet-name>
        <servlet-class>MDO.GetFieldsByBarangay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetField</servlet-name>
        <servlet-class>MDO.GetField</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDisasterReport</servlet-name>
        <servlet-class>Farmer.GetDisasterReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitDisasterReport</servlet-name>
        <servlet-class>Farmer.SubmitDisasterReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPostByRecommendation</servlet-name>
        <servlet-class>Farmer.GetPostByRecommendation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSubmittedDisasterReports</servlet-name>
        <servlet-class>Farmer.GetSubmittedDisasterReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProduction</servlet-name>
        <servlet-class>Farmer.GetProduction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBarangays</servlet-name>
        <url-pattern>/GetBarangays</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckFarmer</servlet-name>
        <url-pattern>/CheckFarmer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitFarmer</servlet-name>
        <url-pattern>/SubmitFarmer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/Authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCVS</servlet-name>
        <url-pattern>/UploadCVS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFertilizers</servlet-name>
        <url-pattern>/UpdateFertilizers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadTillers</servlet-name>
        <url-pattern>/UploadTillers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadMillingSurvey</servlet-name>
        <url-pattern>/UploadMillingSurvey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendProduction</servlet-name>
        <url-pattern>/SendProduction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRecommendationsByProblem</servlet-name>
        <url-pattern>/GetRecommendationsByProblem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRecommendations</servlet-name>
        <url-pattern>/AddRecommendations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetForumPosts</servlet-name>
        <url-pattern>/GetForumPosts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchForum</servlet-name>
        <url-pattern>/SearchForum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitPost</servlet-name>
        <url-pattern>/SubmitPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetComments</servlet-name>
        <url-pattern>/GetComments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitComment</servlet-name>
        <url-pattern>/SubmitComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitProblem</servlet-name>
        <url-pattern>/SubmitProblem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPostsByFarmer</servlet-name>
        <url-pattern>/GetPostsByFarmer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckForNotifs</servlet-name>
        <url-pattern>/CheckForNotifs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Disaster</servlet-name>
        <url-pattern>/Disaster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptIgnoreProblem</servlet-name>
        <url-pattern>/AcceptIgnoreProblem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDisasterSurvey</servlet-name>
        <url-pattern>/GetDisasterSurvey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitDisasterSurvey</servlet-name>
        <url-pattern>/SubmitDisasterSurvey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptRejectRecommendation</servlet-name>
        <url-pattern>/AcceptRejectRecommendation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFieldsByBarangay</servlet-name>
        <url-pattern>/GetFieldsByBarangay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetField</servlet-name>
        <url-pattern>/GetField</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDisasterReport</servlet-name>
        <url-pattern>/GetDisasterReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitDisasterReport</servlet-name>
        <url-pattern>/SubmitDisasterReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPostByRecommendation</servlet-name>
        <url-pattern>/GetPostByRecommendation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSubmittedDisasterReports</servlet-name>
        <url-pattern>/GetSubmittedDisasterReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProduction</servlet-name>
        <url-pattern>/GetProduction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
